{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://stream-configuration-service.vatis.tech",
      "description": "Default server"
    }
  ],
  "paths": {
    "/stream-configuration-service/api/v1/stream-configuration-templates": {
      "get": {
        "tags": [
          "stream-configuration-template-resource-impl"
        ],
        "summary": "Retrieves all the stream configuration templates the user can access in a paginated manner",
        "operationId": "getAll",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Misdeclaration of the stream configuration template",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Full authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Exception on Pulsar operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4xx/5xx": {
            "description": "Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageStreamConfigurationTemplateDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "stream-configuration-template-resource-impl"
        ],
        "summary": "Create or update a stream configuration template",
        "operationId": "createOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStreamConfigurationTemplateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Error in stream configuration template",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The current user does not have sufficient permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Exception on Pulsar operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4xx/5xx": {
            "description": "Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Stream configuration template  created or existed and it was successfully overwritten",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamConfigurationTemplateDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/stream-configuration-service/api/v1/stream-configuration-templates/{streamConfigurationTemplateId}": {
      "get": {
        "tags": [
          "stream-configuration-template-resource-impl"
        ],
        "summary": "Retrieves the stream configuration template with patches applied. It accepts JSON paths and values as query parameters for hot patches over the template. Only values that exist can be patched. No addition/deletion supported",
        "operationId": "getById",
        "parameters": [
          {
            "name": "streamConfigurationTemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Misdeclaration of the stream configuration template",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Full authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Exception on Pulsar operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4xx/5xx": {
            "description": "Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamConfigurationTemplateDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/stream-configuration-service/api/v1/processor-declarations": {
      "get": {
        "tags": [
          "processor-declaration-resource-impl"
        ],
        "summary": "Retrieves all the processor declarations the user can access in a paginated manner",
        "operationId": "getAll_1",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Misdeclaration of the stream configuration template",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Full authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Exception on Pulsar operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4xx/5xx": {
            "description": "Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageProcessorDeclarationDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "internalErrorName": {
            "type": "string",
            "enum": [
              "GENERAL_INTERNAL_ERROR",
              "GENERAL_VALIDATION_ERROR",
              "GENERAL_AUTHENTICATION_ERROR",
              "GENERAL_AUTHORIZATION_ERROR",
              "GENERAL_NOT_FOUND_ERROR",
              "GENERAL_BAD_REQUEST_ERROR",
              "GENERAL_TIME_OUT_ERROR",
              "GENERAL_CONFLICT_ERROR",
              "STREAM_CONFIGURATION_BAD_TEMPLATE",
              "PROCESSOR_FAILED_RESERVATION_ERROR",
              "PROCESSOR_FAILED_CONFIRMATION_ERROR",
              "PROCESSOR_PROPERTIES_VALIDATION_ERROR",
              "PROCESSOR_TRANSCODING_ERROR",
              "PROCESSOR_TRANSCRIPTION_ERROR",
              "PROCESSOR_SPEAKER_DIARIZATION_ERROR",
              "PROCESSOR_GENERAL_ERROR",
              "PROCESSOR_CORDONED_ERROR",
              "PULSAR_ERROR"
            ]
          },
          "nestedErrors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CreateProcessorConfigurationTemplateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "processorDeclarationId": {
            "type": "string"
          },
          "previousProcessorId": {
            "type": "string"
          },
          "propertiesSchema": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "destinationTopicMessageHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "destinationTopicHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "sourceSubscriptionHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "markDestinationTopicAsSink": {
            "type": "boolean"
          }
        }
      },
      "CreateStreamConfigurationTemplateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dataSourceSchema": {
            "type": "string"
          },
          "processors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateProcessorConfigurationTemplateDto"
            }
          }
        }
      },
      "ProcessorConfigurationTemplateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "processorDeclaration": {
            "$ref": "#/components/schemas/ProcessorDeclarationDto"
          },
          "previousProcessorId": {
            "type": "string"
          },
          "propertiesSchema": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "destinationTopicMessageHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "destinationTopicHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "sourceSubscriptionHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "markDestinationTopicAsSink": {
            "type": "boolean"
          }
        }
      },
      "ProcessorDeclarationDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "clusterDomainNameTemplate": {
            "type": "string"
          },
          "podsDiscoveryClusterDomainName": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "propertiesSchema": {
            "type": "string"
          },
          "inputSchemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "outputSchema": {
            "type": "string"
          }
        }
      },
      "StreamConfigurationTemplateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dataSourceSchema": {
            "type": "string"
          },
          "processors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessorConfigurationTemplateDto"
            }
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PageStreamConfigurationTemplateDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StreamConfigurationTemplateDto"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "paged": {
            "type": "boolean"
          },
          "unpaged": {
            "type": "boolean"
          },
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "sorted": {
            "type": "boolean"
          },
          "unsorted": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageProcessorDeclarationDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessorDeclarationDto"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
